/* Navbar container */
.navbar {
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
  padding-right: 70px;
  flex-direction: row;
  flex-wrap: wrap;
}

body{
  font-family: 'Bebas Neue', 'Lato';
  margin: 0px;
}

#logo {
  float: left;
  color: #0F395F;
  text-align: center;
  padding: 16px 16px;
  cursor: pointer;
}

#title {
  margin-top: -20px;
  margin-left: 30px;
  text-decoration: none;
  color: #0F395F;
  cursor: pointer;
}

#title:hover, #title:hover h3 {
  color:#A30F28;
}

.icon {
  width: 100px;
  height: auto;
  padding-left: 20px;
  /* margin-top: -5rem */
}

#noaa{
  font-size: 17px;
  font-weight: 100;
  margin-top: -30px;
}

/* The dropdown container */
.dropdown, .search-container {
  float: left;
  overflow: hidden;
  justify-content: center;
  display: flex;
  margin-top: -40px;
}

.search-container{
  margin-top: -35px;
  margin-left: 20px;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 25px;
  border: none;
  outline: none;
  color: #0F395F;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Add a red background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: #E2EFFC;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  float: left;
  /* margin-left: 40px; */
  margin-top: 55px;
  position: absolute;
  background-color: #E2EFFC;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  font-size: 20px;
  color: #0F395F;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #0F395F;
  color: aliceblue;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

.navbar input[type=text] {
  padding: 6px;
  font-size: 18px;
  /* border: solid #E2EFFC 2px; */
  border: none;
  /* border-radius: 30pt 0pt 0pt 30pt; */
  width: 150px;
  font-family: "Lato";
}

.search-container {
  align-items: center;
  padding: 4px;
  background-color: #F3D0D6;
  /* border-radius: 30pt; */
  /* width: 200px; */
}

@media screen and (max-width: 1380px){
  .navbar input[type=text]{
    width: 80px;
  }
}

.ham {
  width: 55px;
  height: 7px;
  background-color: #0F395F;
  color:#0F395F;
  margin: 7px 0;
}

@media screen and (max-width: 1308px){
  .search-container{
    display: none;
  }
}

@media screen and (max-width:1155px){
  .large{
    display: none;
  }
  .hamburger{
    display: block !important;
  }
  .hamburger i{
    color: #0F395F;
  }
}

.hamburger{
  margin-top: -40px;
  display: none;
}

.hamburger:hover .ham{
  color:#A30F28;
  background-color: #A30F28
}

.search-container button{
  background: none;
  border: none;
  color: #A30F28;
  font-size: 20px !important;
  padding: 0 10px 0 10px;
  cursor: pointer;
  font-size: 16px;
}

.search-container:hover{
  filter: drop-shadow(4px 4px 0px #A30F28);
}

.search-container:focus-within{
  background-color: #A30F28
}

.search-container:focus-within button{
  color: white
}

.search-container input:focus{
  outline: none;
  /* border: solid #0F395F 2px; */
}

.section{
  display: flex;
  justify-content: center;
}

.header{
  text-align: center;
  padding-bottom: 40px;
}

.header p{
  width: 600px;
}

.cards{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.card{
  flex: 0 1 33%;
  align-items: center;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  margin: 2rem 2em;
  height: 300px;
  background: #F0F7FD;
  border-radius: 10px;
  justify-content: center;
  cursor: pointer;
  filter: drop-shadow(0px 4px 4px rgb(0, 0, 0, 25%));
}

.card:hover{
  filter: drop-shadow(7px 7px 0px #0F395F);
}

.card p{
  width: 350px;
  padding-top: 10px;
  text-align: left;
}

.content{
  text-align: center;
  text-decoration: none;
  height: 300px;
  padding: 30px;
}

.page{
  margin-top: -30px;
  padding-bottom: 6.5rem;
}

footer{
  overflow: hidden;
  background-color: #F0F7FD;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* align-items: center; */
}

#wrn{
  width: 120px;
  height: auto;
}

#usa{
  width: 200px;
  height: auto;
}

footer .icon{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 0 1 35%;
}

footer .col{
  padding: 20px;
  margin-top: 25px;
  flex: 0 1 25%;
}

footer img{
  padding: 10px;
  cursor: pointer;
}

footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

footer li a {
  display: block;
  font-size: 22px;
  color:#0F395F;
  cursor: pointer;
  text-decoration: none;
}

footer li a:hover{
  color: #C41230;
}

footer .col p{
  font-size: 15px;
}

footer .col2{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 20px;
  margin-top: 10px;
  flex: 0 1 25%;
}

footer .col2 button{
  width: 152px;
  border: none;
  cursor: pointer;
  background-color:#fce0e5;
  padding: 10px;
}

footer .col2 button p{
  font-size: 22px;
  color: #A30F28;
  font-family: "Bebas Neue";
  text-decoration: none;
  display: inline;
}

footer button:hover{
  background: #C41230;
}

footer button:hover p{
  color:white
}

.reversed{
  background: #0f395f !important;
}

.reversed p{
  color:#E2EFFC !important
}

.reversed:hover{
  background: #C41230 !important;
}

.reversed:hover p{
  color: white !important;
}

footer .socials a{
  text-decoration: none;
  color:#0F395F;
  font-size: 30px;
  padding: 5px;
}

footer .socials a:hover{
  color:#C41230
}

@media screen and (max-width: 953px) {
  .card{
    flex: 0 1 80% !important;
  }
  .card p{
    width: 450px !important;
  }

  h1{
    font-size: 50px !important;
  }

  .sub1{
    font-size: 20px !important;
  }

  .header{
    padding-bottom: 15px !important;
    padding-top: 10px;
  }

  .navbar{
    padding-right: 3rem;
    padding-left: 0px;
  }

  /* .page{
    margin-left: -3rem;
  } */

  .hamburger {
    margin-top: -70px;
  }
}

@media screen and (max-width: 700px) {
  .hamburger{
    margin-top: -70px;
  }

  h1{
    font-size: 40px !important;
  }

  .sub1{
    font-size: 16px !important;
  }

  .navbar{
    padding-left: 0px;
    padding-right: 2rem;
  }
  
  #logo{
    padding: 16px 0px;
  }

  .icon{
    width: 100px
  }

  .card p{
    width: 20rem !important;
    font-size: 18px;
  }

  .ham{
    width: 40px;
    height: 6px;
    background-color: #0F395F;
    color: #0F395F;
    margin: 5px 0;

  }

  .page{
    margin-left: 0px;
  }

  footer p, footer a{
    font-size: 15px !important;
  }

  footer .col p{
    font-size: 12px !important;
  }

  #wrn {
    width: 80px;
  }

  footer .rows{
    width: 100%;
    display: flex;
  }

  #usa{
    width: 120px;
  }

  footer{
    flex-wrap: wrap;
  }

  footer .col2{
    align-items: center;
    flex: 0 1 100%;
    margin: 0px;
    padding: 0 20px 20px 20px;
  }

  footer .col{
    flex: 0 1 1%;
  }

  footer .col2 button{
    margin-bottom: 15px;
  }

  footer .socials a {
    font-size: 20px !important;
  }

  footer .icon{
    margin-top: -3rem;
  }


}


@media only screen and (max-width: 500px) {
  h1{
    font-size: 33px !important;
  }

  .sub1 {
    font-size: 0.75rem !important;
  }

  .ham{
    width: 2rem;
    height: 5px;
  }

  .hamburger {
    margin-top: -90px;
  }

  h3{
    font-size: 25px !important;
  }

  .icon {
    width: 6rem;
    padding-left: 10px;
}

  #noaa{
    font-size: 13px;
  }

  h2{
    font-size: 18px !important;
  }

  .card p {
    width: 16rem !important;
    font-size: 16px;
  }

  .card{
    height: 18rem !important;
  }

  .header{
    padding-bottom: 0px !important;
  }

  footer p, footer a{
    font-size: 15px !important;
  }

  footer .col p{
    font-size: 12px !important;
  }

  #wrn {
    width: 100px;
  }

  footer .rows{
    width: 100%;
    display: flex;
  }

  #usa{
    width: 150px;
  }

  footer{
    flex-wrap: wrap;
  }

  footer .col2{
    align-items: center;
    flex: 0 1 100%;
    margin: 0px;
    padding: 0 20px 20px 20px;
  }

  footer .col2 button{
    margin-bottom: 15px;
    width: 200px
  }

  footer .socials a {
    font-size: 22px !important;
  }

  .page{
    padding-bottom: 2.5rem;
  }

  footer .icon{
    margin-top: -3rem;
  }

  footer .col2 button p {
    font-size: 20px !important;
  }

}